@font-face {
    font-family: "Inter";
    src: url("./fonts/Inter-VariableFont_opsz,wght.ttf") format("truetype"),
        url("./fonts/Inter-Italic-VariableFont_opsz,wght.ttf") format("truetype");
}

body {
    font-family: "Inter";
}
