@import url("@/assets/fonts.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: rgb(40, 40, 40);
    color: white;
    overflow: hidden;
}

.sprite {
    --sprite-x: 0px;
    --sprite-y: 0px;
    --sprite-bg-x: 0px;
    --sprite-bg-y: 0px;
    --bg: none;

    position: absolute;
    background-color: var(--bg);
    background-image: url("/assets/sprites.png");
    width: 128px;
    height: 128px;
    background-position: var(--sprite-bg-x) var(--sprite-bg-y);
    background-size: 1024px 1024px;
    left: var(--sprite-x);
    bottom: var(--sprite-y);
    /* transform: translate(var(--sprite-x), var(--sprite-y)); */
}
