@import url("@/assets/fonts.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #111;
    display: grid;
    place-items: center;
}

.loader {
    position: relative;
    --height: 40px;
    height: var(--height);
    aspect-ratio: 1;
}

.loader span {
    --hand-height: calc(var(--height) / 4);
    position: absolute;
    height: var(--hand-height);
    width: 1px;
    background-color: white;
    left: 50%;
    transform-origin: 50% calc(100% + var(--hand-height));
    animation-name: load;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
}

@keyframes load {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
