@import url("@/assets/fonts.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #111;
    display: flex;
    flex-direction: column;
    padding: 3rem;
    gap: 2rem;
}

hr {
    border: 0;
    border-bottom: 1px solid #555;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.card {
    border: 1px solid #333;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: start;
    width: max(300px, calc(33% - 1rem));
    height: 180px;
    justify-content: space-between;
}

.card small {
    font-size: 10px;
    font-family: "FUNGIS";
    font-weight: bold;
    color: #ccc;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.25rem;
    padding-inline: 1.25rem;
    padding-block: 0.75rem;
    background-color: #111;
    color: #ccc;
    border: 1px solid #222;
    border-radius: 5px;
    cursor: pointer;
    transition: all 200ms ease-out;
    min-width: 130px;
    width: 130px;
}

.btn:active {
    scale: 0.97;
    transition: all 0.2s ease-out;
}

.btn:not(.loading):hover {
    background-color: #171717;
}

.btn.loading {
    background-color: #222;
    border-color: #333;
    color: #cccccc64;
    transition: all 200ms ease-out;
}

.btn.loading .icon {
    display: none;
}

.btn:not(.loading) loading-spinner {
    display: none;
}

@keyframes load {
    1% {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
